<web-app xmlns="http://www.w3.org/2001/XMLSchema"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="3.1"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">

  <display-name>Archetype Created Web Application</display-name>

    <!-- SERVLETS -->
    <!-- CONTROLLERS -->
    <!-- product -->
    <servlet>
        <servlet-name>productController</servlet-name>
        <servlet-class>com.test.controller.ProductController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>productController</servlet-name>
        <url-pattern>/product.do</url-pattern>
    </servlet-mapping>

    <!-- mock -->
    <servlet>
        <servlet-name>mockController</servlet-name>
        <servlet-class>com.test.controller.MockController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>mockController</servlet-name>
        <url-pattern>/mock.do</url-pattern>
    </servlet-mapping>

    <!-- mvc mock -->
    <servlet>
        <servlet-name>mvcMockController</servlet-name>
        <servlet-class>com.test.controller.MVCMockController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>mvcMockController</servlet-name>
        <url-pattern>/mvcMock.do</url-pattern>
    </servlet-mapping>

    <!-- session mock -->
    <servlet>
        <servlet-name>sessionMockController</servlet-name>
        <servlet-class>com.test.controller.SessionMockController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>sessionMockController</servlet-name>
        <url-pattern>/sessionMock.do</url-pattern>
    </servlet-mapping>

    <!-- cookie mock -->
    <servlet>
        <servlet-name>cookieMockController</servlet-name>
        <servlet-class>com.test.controller.CookieMockController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>cookieMockController</servlet-name>
        <url-pattern>/cookieMock.do</url-pattern>
    </servlet-mapping>


    <!-- FILTERS
    <filter>
        <filter-name>UrlRewriteFilter</filter-name>
        <filter-class>org.tuckey.web.filters.urlrewrite.UrlRewriteFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>UrlRewriteFilter</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    -->
    <!-- processing time -->
    <filter>
        <filter-name>timeFilter</filter-name>
        <filter-class>com.test.filter.ProcessingTimeFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>timeFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <!-- request info -->
    <filter>
        <filter-name>infoFilter</filter-name>
        <filter-class>com.test.filter.RequestInfoFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>infoFilter</filter-name>
        <url-pattern>*.do</url-pattern>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>

    <!-- request info -->
    <filter>
        <filter-name>attributesToSessionFilter</filter-name>
        <filter-class>com.test.filter.AddAttributesToSession</filter-class>
        <init-param>
            <param-name>filter-param-name-A</param-name>
            <param-value>filter-param-value-A</param-value>
        </init-param>
        <init-param>
            <param-name>filter-param-name-B</param-name>
            <param-value>filter-param-value-B</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>attributesToSessionFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>


    <!-- LISTENERS
    <listener>
        <listener-class>com.test.listener.MyHttpSessionActivationListener</listener-class>
    </listener>
    <listener>
        <listener-class>com.test.listener.MyHttpSessionAttributeListener</listener-class>
    </listener>
    <listener>
        <listener-class>com.test.listener.MyHttpSessionBindingListener</listener-class>
    </listener>
    <listener>
        <listener-class>com.test.listener.MyHttpSessionListener</listener-class>
    </listener>
    <listener>
        <listener-class>com.test.listener.MyServletContextAttributeListener</listener-class>
    </listener>
    <listener>
        <listener-class>com.test.listener.MyServletContextListener</listener-class>
    </listener>
    <listener>
        <listener-class>com.test.listener.MyServletRequestAttributeListener</listener-class>
    </listener>
    <listener>
        <listener-class>com.test.listener.MyServletRequestListener</listener-class>
    </listener>
    -->

    <session-config>
        <!-- minutes -->
        <session-timeout>240</session-timeout>
    </session-config>

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>